.easy {
  display: grid;
  grid-template-columns:  300px 300px 300px;
  grid-template-rows: 300px 300px;
}

.medium {
  display: grid;
  grid-template-columns:  300px 300px 300px 300px;
  grid-template-rows: 250px 250px 250px;
}

.hard {
  display: grid;
  grid-template-columns:  250px 250px 250px 250px 250px;
  grid-template-rows: 200px 200px 200px 200px;
}

.box {
  height: 150px;
  width: 230px;
  background-color: #cccccc;
  margin-top: 5px;
  margin-bottom: 5px;
}

